body{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

}

.header{
    height: 63px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.338);
    z-index: 1;
}

.header-items{
    height: 100%;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
    display: flex;
}

input{
    position: relative;
    margin-left: 7.8rem;
    padding-left: 35px;
    width: 53.5%;
    background-color: rgba(255, 255, 255, 0.735);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.68);
    height: 30px;
    border-style: none;
    letter-spacing: 0.5px;
}

.user-btns{
    margin-left: 7.4rem;
    
}

.login{
    color: white;
    background: none;
    border-style: none;
    font-size: 14.5px;
    margin-right: 16px;
    letter-spacing: 0.4px;
}

.signup{
    background-color: white;
    border-style: none;
    font-size: 14.5px;
    font-weight: 600;
    border-radius: 4px;
    padding: 7px 20px;
    letter-spacing: 0.4px;

}

.mySlides {
    display: none;
   
}

.mySlides img{
    object-fit: cover;       
    object-position: center; 
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.image-bottom-text{
    position: absolute;
    text-align: center;
    height: 80px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.caption{
    height: 100%;
    font-size: 21px;
    display: none;
    color: white;
}

.jump{
    animation-name: jump;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
   
}

@keyframes jump {
    from {opacity: 0.4;
        margin-top: 0px;} 
    to {opacity: 1;
        margin-top: 4rem;}
  }

.text-overlay{
    position: absolute;
    color: white;
    left: 50%;
    top: 45%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.text-overlay-main{
    font-size: 54px;
    font-weight: 600;
   margin-bottom: -4px;
}

.text-overlay-sub{
    font-size: 25px;
    font-weight: 600;
}
.startbtn{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    background-color: white;
    font-size: 22px;
    border-radius: 4px;
    border-style: none;
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 0.2px;
}

.footer{
    height: 60px;
    width: 100%;
    font-size: 13.5px;
    position: absolute;
    display: flex;
    bottom: 0;
    color: rgba(255, 255, 255, 0.637);
    background-color: rgb(0, 0, 0);
    align-items: center;
    letter-spacing: 0.15px;
    padding-bottom: 3px;
}

span{
    margin-left: 2.4rem;
}

.dropdown{
    background: none;
    color: rgba(255, 255, 255, 0.637);
    font-size: 13.5px;
    margin-left: 2.4rem;
    border-style: none;

}
option{
    color: rgb(33, 33, 36);
    background-color: rgb(228, 228, 228);
    
}

.facebook{
    background-color: white;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    opacity: 0.6;
    margin-left: 2.3rem;
}

.youtube{
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
    margin-left: 2.3rem;
}

.instagram{
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
    margin-left: 2.3rem;
}
.social-icons{
    display: flex;
}
.awesome{
    height: 100px;
    width: 100px;
    opacity: 0.6;
    margin-left: 2.2rem;
    filter:grayscale(100%);
}